.box {
    width: 15vmin;
    height: 15vmin;
    border: 2vmin solid #BBADA0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 8vmin;
    font-weight: bold;
}